<%- include("../_partial/_header") -%>
<div class = "container-fluid bg">
<div class = "row">
<div class="col-md-4 col-sm-4 col-xs-12"></div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel-body">
        <form class="form-conatiner-r" action="/recipes/add" method="POST">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            
            <% if(info && info.length > 0) { %>
                <div class="alert alert-info" role="alert">
                    <%= info %>
                </div>
            <% } %>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Title" name="title" aria-describedby="basic-addon1">
            </div>
            <br />
            
            <div class="input-group">
                <span class="input" id="basic-addon1">Category</span><br/>
                <input type="checkbox" name="category" value="Breakfast" checked>
                <label  for="breakfast">Breakfast</label><br/>
                <input type="checkbox" name="category" value="Lunch">
                <label  for="breakfast">Lunch</label><br/>
                <input type="checkbox" name="category" value="Dinner">
                <label  for="breakfast">Dinner</label><br/>
                <input type="checkbox" name="category" value="Dessert">
                <label  for="breakfast">Dessert</label><br/>
                <input type="checkbox" name="category" value="Drinks">
                <label  for="breakfast">Drinks</label><br/>
                <input type="checkbox" name="category" value="Healthy">
                <label  for="breakfast">Healthy</label><br/>
                <input type="checkbox" name="category" value="Quick_Easy">
                <label  for="breakfast">Quick&Easy</label><br/>
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" name="prepareTime" class="form-control" placeholder="PrepareTime" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <input type="text" name="cookingTime" class="form-control" placeholder="CookingTime" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">@</span>
                <textarea name="cookingSteps" id="cookingSteps" rows="4" cols="50" class="form-control" placeholder="CookingSteps" aria-describedby="basic-addon1"></textarea>
            </div>
            <br />
             <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Difficult Level</span>
                 <select name="difficultLevel" id="difficultLevel" class="form-control" aria-describedby="basic-addon1">
                      <option value="supereasy" selected>super easy</option>
                      <option value="easy">easy</option>
                      <option value="normal">normal</option>
                      <option value="hard">hard</option>
                      <option value="superhard">super hard</option>
                  </select>
              </div>
            <br />
            <div class="input-group">
                <input type="file" name="image">
            </div>
            <br />
            <input type="submit" class="btn .btn navbar-btn" href="#" value="Create" />

        </form>
    </div>
</div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
</div>
</div>

<%- include("../_partial/_footer") -%>