<%- include("../_partial/_header") -%>

    <div class="float-container bg">
        <div class="col-md-10 col-sm-6 col-xs-12">
        <form action="/recipes/add" method="POST" enctype="multipart/form-data">
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            
            <% if(info && info.length > 0) { %>
                <div class="alert alert-info" role="alert">
                    <%= info %>
                </div>
            <% } %>

            <div class="float-childl">
 
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Title" name="title" aria-describedby="basic-addon1">
            </div>
            <br />
            
            <div class="input-group">
                <span class="input" style="background-color:white; color: grey; font-weight: bold; font-size: large" id="basic-addon1">Category</span><br/><br/>
                <input type="checkbox" name="category" value="Breakfast" checked>
                <label  for="breakfast">Breakfast</label><br/>
                <input type="checkbox" name="category" value="Lunch">
                <label  for="breakfast">Lunch</label><br/>
                <input type="checkbox" name="category" value="Dinner">
                <label  for="breakfast">Dinner</label><br/>
                <input type="checkbox" name="category" value="Dessert">
                <label  for="breakfast">Dessert</label><br/>
                <input type="checkbox" name="category" value="Drinks">
                <label  for="breakfast">Drinks</label><br/>
                <input type="checkbox" name="category" value="Healthy">
                <label  for="breakfast">Healthy</label><br/>
                <input type="checkbox" name="category" value="Quick_Easy">
                <label  for="breakfast">Quick&Easy</label><br/>
            </div>
        </div>
            <br />
          <div class="float-childr">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" name="prepareTime" class="form-control" placeholder="PrepareTime (minutes)" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" name="cookingTime" class="form-control" placeholder="CookingTime (minutes)" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" name="ingredient" class="form-control" placeholder="Ingredient" aria-describedby="basic-addon1">
            </div>
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <textarea name="cookingSteps" id="cookingSteps" rows="4" cols="50" class="form-control" placeholder="CookingSteps" aria-describedby="basic-addon1"></textarea>
            </div>
            <script>
                CKEDITOR.replace( 'cookingSteps' );
            </script>
            <br />
             <div class="input-group">
                 <span class="input-group-addon" id="basic-addon1">Difficult Level</span>
                 <select name="difficultLevel" id="difficultLevel" class="form-control" aria-describedby="basic-addon1">
                      <option value="supereasy" selected>super easy</option>
                      <option value="easy">easy</option>
                      <option value="normal">normal</option>
                      <option value="hard">hard</option>
                      <option value="superhard">super hard</option>
                  </select>
              </div>
            <br />
            <div class="input-group">
                <input type="file" name="images" accept="image/*" multiple>
            </div>
            <br />
            <input type="submit" class="btn btnc navbar-btn" href="#" value="Create" />
        </div>
        </form>
    </div>
    </div>

<%- include("../_partial/_footer") -%>
