<%- include("../_partial/_header") -%>

	<h1>About us</h1>
	<p>We try to develop a website for free sharing simple and yummy recipes for people who don't have enough time.<br>
	Project owner: Trung Le</p>

<%- include("../_partial/_footer") -%>