<%- include('../_partial/_header') -%>

<div class="container-fluid">
    <div class="tm-body">
        <div class="tm-sidebar sticky">
            <section id="welcome" class="tm-content-box tm-banner margin-b-15">
                <div class="tm-banner-inner">
                    <i class="fa fa-film fa-4x margin-b-1"></i>
                    <h1 class="tm-banner-title">Category</h1>              
                </div>                    
            </section>
            <nav class="tm-main-nav">
                <ul class="tm-main-nav-ul">
                    <li class="tm-nav-item"><a href="breakfast.ejs" class="tm-nav-item-link tm-button active">Breakfast</a>
                    </li>
                    <li class="tm-nav-item"><a href="lunch.ejs" class="tm-nav-item-link tm-button">Lunch</a>
                    </li>
                    <li class="tm-nav-item"><a href="dinner.ejs" class="tm-nav-item-link tm-button">Dinner</a>
                    </li>
                    <li class="tm-nav-item"><a href="drinks.ejs" class="tm-nav-item-link tm-button">Drinks</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="tm-main-content tm-gallery-container">                    
            <div class="grid">                                                    
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>                        
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>                        
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
                <div class="grid-item"><img src="images/bg.jpg" alt="Image"></div>
            </div>                    
        </div> <!-- tm-main-content -->
    </div>
</div> 

<%- include('../_partial/_footer') -%>