<%- include('../_partial/_header') -%>

<div class="container-fluid">
    <div class="tm-body">
        <div class="tm-sidebar sticky">
            <section id="welcome" class="tm-content-box tm-banner margin-b-20">
                <div class="tm-banner-inner">
                    <i class="fa fa-film fa-4x margin-b-1"></i>
                    <h1 class="tm-banner-title">Category</h1>              
                </div>                    
            </section>
            <nav class="tm-main-nav">
                <ul class="tm-main-nav-ul">
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Breakfast</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Lunch</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Dinner</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Dessert</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Drinks</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Healthy</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Quick & Easy</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="tm-main-content tm-gallery-container">   
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
				<h2 style= "color: #CC6733">Most Popular Recipes</h2> 
				<hr>
            </div>
            <div class="grid">  
                <div class="column">                                      
                        <a href="recipe.ejs"><img src="images/food1.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3 >
                        <a href="recipe.ejs"><img src="images/food2.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>
                        <a href="recipe.ejs"><img src="images/food3.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>      
                        <a href="recipe.ejs"><img src="images/food4.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>  
                        <a href="recipe.ejs"><img src="images/food5.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>      
                        <a href="recipe.ejs"><img src="images/food6.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>                    
  
                </div>
                <div class="column">                                     
                        <a href="recipe.ejs"><img src="images/food7.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3 >
                        <a href="recipe.ejs"><img src="images/food8.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>
                        <a href="recipe.ejs"><img src="images/food9.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>  
                        <a href="recipe.ejs"><img src="images/food10.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>  
                        <a href="recipe.ejs"><img src="images/food11.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>      
                        <a href="recipe.ejs"><img src="images/food12.jpg" alt="Image"></a>
                        <h3>Lemon-Rosemary Prawn</h3>                                   
                </div>
            </div>         
        </div><!-- tm-main-content -->
    </div>
</div> 

<%- include('../_partial/_footer') -%>