<%- include('../_partial/_header') -%>

<div class="container-fluid">
    <div class="tm-body">
        <div class="tm-sidebar sticky">
            <section id="welcome" class="tm-content-box tm-banner margin-b-20">
                <div class="tm-banner-inner">
                    <i class="fa fa-film fa-4x margin-b-1"></i>
                    <h1 class="tm-banner-title">Category</h1>              
                </div>                    
            </section>
            <nav class="tm-main-nav">
                <ul class="tm-main-nav-ul">
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Breakfast</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Lunch</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Dinner</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Dessert</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Drinks</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Healthy</a>
                    </li>
                    <li class="tm-nav-item"><a href="result.ejs" class="tm-nav-item-link tm-button">Quick & Easy</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="tm-main-content tm-gallery-container">   
           <!-- show food recipe -->
		   <h1>Show recepe detail here</h1>    
        </div> 
    </div>
</div> 

<%- include('../_partial/_footer') -%>